$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* False Input*/
.ng-invalid.ng-dirty {
  border-color: red;
}

/* Correct Input*/
.ng-valid.ng-dirty {
  border-color: green;
}

/* Boxes for input forms and calculation */
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.input-group-addon {
  min-width: 80px;
  text-align: left;
}

.c2gdtp .nav-pills li.active a,
.c2gdtp .nav-pills li.active a:hover,
.c2gdtp .nav-pills li.active a:focus {
  background-color: #009fe4;
}

.c2gdtp .highlight,
.c2gdtp .nav-pills li a {
  border: 1px solid #009fe4;
}

.c2gdtp a {
  color: #009fe4;
}

.c2gbdtp .nav-pills li.active a,
.c2gbdtp .nav-pills li.active a:hover,
.c2gbdtp .nav-pills li.active a:focus {
  background-color: black;
}

.c2gbdtp .highlight,
.c2gbdtp .nav-pills li a {
  border: 1px solid black;
}

.c2gbdtp a {
  color: black;
}

.smdtp .nav-pills li.active a,
.smdtp .nav-pills li.active a:hover,
.smdtp .nav-pills li.active a:focus {
  background-color: #E2001A;
}

.smdtp .highlight,
.smdtp .nav-pills li a {
  border: 1px solid #E2001A;
}

.smdtp a {
  color: #E2001A;
}

.flinkster .nav-pills li.active a,
.flinkster .nav-pills li.active a:hover,
.flinkster .nav-pills li.active a:focus {
  background-color: #FF0000;
}

.flinkster .highlight,
.flinkster .nav-pills li a {
  border: 1px solid #FF0000;
}

.flinkster a {
  color: #FF0000;
}
