$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "../bower_components/font-awesome/scss/font-awesome.scss";

//$fa-font-path: "../bower_components/font-awesome/fonts/";
//@import "../bower_components/font-awesome/scss/font-awesome";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* False Input*/
.ng-invalid.ng-dirty {
  border-color: red;
}

/* Correct Input*/
.ng-valid.ng-dirty {
  border-color: green;
}

/* Boxes for input forms and calculation */
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.input-group-addon {
  min-width: 80px;
  text-align: left;
}

$car2go-brand-color: #009fe4;
$stadtmobil-brand-color: #E2001A;
$flinkster-brand-color: #FF0000;
$greenwheels-brand-color: #56be00;
$drivenow-brand-color: #007ea4;
$bookndrive-brand-color: #E10020;

@mixin brand-page($color) {
  .nav-pills li div button.nav-button,
  .nav-pills li.active a,
  .nav-pills li.active a:hover,
  .nav-pills li.active a:focus {
    background-color: $color;
    color: #fff;
  }

  .highlight {
    border: 1px solid $color;
  }

  a {
    color: $color;
  }
}

.car2go {
  @include brand-page($car2go-brand-color);
}
.stadtmobil {
  @include brand-page($stadtmobil-brand-color);
}
.flinkster {
  @include brand-page($flinkster-brand-color);
}
.greenwheels {
  @include brand-page($greenwheels-brand-color);
}
.drivenow {
  @include brand-page($drivenow-brand-color);
}
.bookndrive {
  @include brand-page($bookndrive-brand-color);
}
