<div class="form-group">
  {{ 'airports' | translate }}:
  <div class="input-group">
    <div class="checkbox">

      <span ng-repeat="airport in airports">
        <label>
          <input type="checkbox"
                 ng-model="airport.model"
                 ng-change="changeAirport(airport)">
          <span tariff-popover="{{airport.popover}}">
                    {{ airport.translateName | translate }}
          </span>
        </label>
        </br>
      </span>

    </div>
  </div>

</div>
