<h2>{{"billedTime" | translate }}</h2>
<div ng-show="{{isResolution('minutes')}}">
  {{ getMinutesBilled( timeMinutes ) }} {{"minute" | translate }}
</div>
<div ng-show="{{isResolution('hours')}}">
  {{ getHoursBilled( timeMinutes ) }} {{"hour" | translate }}
</div>
<div ng-show="{{isResolution('days')}}">
  {{ getDaysBilled( timeMinutes ) }} {{"day" | translate }}
</div>
<div ng-show="{{isResolution('weeks')}}">
  {{ getWeeksBilled( timeMinutes ) }} {{"week" | translate }}
</div>

<h2>{{"trueTime" | translate }}</h2>
<div ng-show="{{isResolution('minutes')}}">
  {{ getMinutes( timeMinutes ) }} {{"minute" | translate }}
</div>
<div ng-show="{{isResolution('hours')}}">
  {{ getHours( timeMinutes ) }} {{"hour" | translate }}
</div>
<div ng-show="{{isResolution('days')}}">
  {{ getDays( timeMinutes ) }} {{"day" | translate }}
</div>
<div ng-show="{{isResolution('weeks')}}">
  {{ getWeeks( timeMinutes ) }} {{"week" | translate }}
</div>



