<div class="bookndrive">
  <nav-Bar></nav-Bar>
  <div class="row">
    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>

      <div class="highlight">

        <tarif-form
          listofoptions="tariffs"
          vendor="bookndrive">
        </tarif-form>



        <div class="form-group">
          {{"carClass" | translate }}:
          <form>

            <span ng-repeat="carclass in carclasses">
              <input type="radio"
                     ng-model="rental.bookndrive.carClass"
                     value="{{carclass.value}}"
                     id="{{carclass.id}}">
              <span tariff-popover="{{carclass.popover}}">
                  {{carclass.name}}
              </span>
              <br/>
            </span>

          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <price-Box></price-Box>
    </div>
  </div>
</div>
