<div class="bookndrive">
  <nav-Bar></nav-Bar>
  <div class="row">
    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>

      <div class="highlight">

        <div class="form-group">
          {{"tariff" | translate }}:
          <form>
            <input type="radio"
                   ng-model="rental.bookndrive.tariff"
                   value="basic"
                   id="tariffbasic">
            <span tariff-popover="popover.bookndrive.tariff.basic">
              Basic
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.bookndrive.tariff"
                   value="komfort"
                   id="tariffkomfort">
            <span tariff-popover="popover.bookndrive.tariff.komfort">
              Komfort
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.bookndrive.tariff"
                   value="abo"
                   id="tariffabo">
            <span tariff-popover="popover.bookndrive.tariff.abo">
              Abo
            </span>
            <br/>
          </form>
        </div>

        <div class="form-group">
          {{"carClass" | translate }}:
          <form>
            <input type="radio"
                   ng-model="rental.bookndrive.carClass"
                   value="cityflitzer"
                   id="ratecityflitzer">
            <span tariff-popover="popover.bookndrive.carClass.cityflitzer">
                CityFlitzer
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.bookndrive.carClass"
                   value="xs"
                   id="ratexs">
            <span tariff-popover="popover.bookndrive.carClass.xs">
                XS
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.bookndrive.carClass"
                   value="s"
                   id="rates">
            <span tariff-popover="popover.bookndrive.carClass.s">
                S
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.bookndrive.carClass"
                   value="m"
                   id="ratem">
            <span tariff-popover="popover.bookndrive.carClass.m">
                M
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.bookndrive.carClass"
                   value="l"
                   id="ratel">
            <span tariff-popover="popover.bookndrive.carClass.l">
                L
            </span>
            <br/>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <price-Box></price-Box>
    </div>
  </div>
</div>
