<time-Input-Form></time-Input-Form>

<div class="highlight">
	<h1><span>{{ price(distance, time, timeStanding, airport) | currency }}</span></h1>

	<p>Preis im Detail:</p>
	
	<b>Zeit</b><br>

	<span>{{ getMinutes(time) }}</span> Minuten a <span>{{ feeMinute | currency }}</span> = <span>{{ getFeeMinutes(time) | currency }}</span><span class="MsgRoundDownToHours" ng-show="showMsgRoundDownToHours">{{msgRoundDownToHours}}</span><br>

	<span>{{ getHours(time) }}</span> Stunden a <span>{{ feeHour | currency }}</span> = <span>{{ getFeeHours(time) | currency }}</span><span class="MsgRoundDownToDays" ng-show="showMsgRoundDownToDays">{{msgRoundDownToDays}}</span><br>

	<span>{{ getDays(time) }}</span> Tage a <span>{{ feeDay | currency }}</span> = <span>{{ getFeeDays(time) | currency }}</span><br>

	<b>Distanz</b><br>

	<span>{{ getFreeKm( time) }}</span> Freikilometer<br>

	<span><span>{{ getAdditionalKm(distance, time) }}</span></span> km a <span>{{ feeAdditionalKm | currency }}</span> Zusätzlicher Kilometer Preis = <span>{{ getfeeAdditionalKm(distance, time) | currency }}</span> Kilometer Preis<br>

	<b>Sonstiges</b><br>

	<span>{{ getFeeStanding(timeStanding) | currency }}</span> Zeit stehend<br>

	<span>{{ getFeeAirport(airport) | currency }}</span> Flughafenpauschale<br>

</div>

<billed-Box></billed-Box>