<time-Input-Form></time-Input-Form>

<div class="highlight">
	<h1><span>{{ price(distance, timeMinutes, timeStanding, airport) | currency }}</span></h1>

	<p>Preis im Detail:</p>

	<b>Zeit</b><br>

	<span>{{ getMinutes(timeMinutes) }}</span> Minuten a <span>{{ feeMinute | currency }}</span> = <span>{{ getFeeMinutes(timeMinutes) | currency }}</span><span class="MsgRoundDownToHours" ng-show="showMsgRoundDownToHours">{{msgRoundDownToHours}}</span><br>

	<span>{{ getHours(timeMinutes) }}</span> Stunden a <span>{{ feeHour | currency }}</span> = <span>{{ getFeeHours(timeMinutes) | currency }}</span><span class="MsgRoundDownToDays" ng-show="showMsgRoundDownToDays">{{msgRoundDownToDays}}</span><br>

	<span>{{ getDays(timeMinutes) }}</span> Tage a <span>{{ feeDay | currency }}</span> = <span>{{ getFeeDays(timeMinutes) | currency }}</span><br>

	<b>Distanz</b><br>

	<span>{{ getFreeKm( timeMinutes) }}</span> Freikilometer<br>

	<span><span>{{ getAdditionalKm(distance, timeMinutes) }}</span></span> km a <span>{{ feeAdditionalKm | currency }}</span> Zusätzlicher Kilometer Preis = <span>{{ getfeeAdditionalKm(distance, timeMinutes) | currency }}</span> Kilometer Preis<br>

	<b>Sonstiges</b><br>

	<span>{{ getFeeStanding(timeStanding) | currency }}</span> Zeit stehend<br>

	<span>{{ getFeeAirport(airport) | currency }}</span> Flughafenpauschale<br>

</div>

<billed-Box></billed-Box>
