<div class="car2go">
  <nav-Bar></nav-Bar>
  <div class="row">

    <div class="col-md-6 columns">
      <time-Input-Form></time-Input-Form>
      <div class="highlight">

        <car-class-form
          listofoptions="carclasses"
          vendor="car2go">
        </car-class-form>

        <option-form
          vendor="car2go"
          type="airport"
          title="airports">
        </option-form>

      </div>
    </div>

    <div class="col-md-6 columns">
      <price-Box></price-Box>
    </div>

  </div>
</div>
