<div class="car2go">
  <nav-Bar></nav-Bar>
  <div class="row">
    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>

      <div class="highlight">
        <div class="form-group">
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="rental.car2go.airport">
                <span tariff-popover="views/popovers/car2go/airport.html">
                  {{"rental.car2go.airportFee" | translate }}
                </span>
                <br/>
              </label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-6">
      <price-Box></price-Box>
    </div>
  </div>
</div>
