<div class="drivenow">
  <nav-Bar></nav-Bar>
  <div class="row">

    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>
      <div class="highlight">

        <div class="form-group">
          Fahrzeugklasse:
          <form>
            <input type="radio"
                   ng-model="rental.carClass.drivenow"
                   value="mini"
                   id="carClassMini">
            <span tariff-popover="views/popovers/drivenow/carClassMini.html">
              Mini
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.carClass.drivenow"
                   value="bmw"
                   id="carClassBmw">
            <span tariff-popover="views/popovers/drivenow/carClassBMW.html">
              BMW
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.carClass.drivenow"
                   value="minicabriosummer"
                   id="carClassMiniCabrioSummer">
            <span tariff-popover="views/popovers/drivenow/carClassMiniCabrioSummer.html">
              Mini Cabrio Sommer
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.carClass.drivenow"
                   value="minicabriowinter"
                   id="carClassMiniCabrioWinter">
            <span tariff-popover="views/popovers/drivenow/carClassMiniCabrioWinter.html">
              Mini Cabrio Winter
            </span>
            <br/>
          </form>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <price-Box></price-Box>
    </div>

  </div>
