<div class="drivenow">
  <nav-Bar></nav-Bar>
  <div class="row">

    <div class="col-md-6 columns">
      <time-Input-Form></time-Input-Form>
      <div class="highlight">

        <car-class-form
          listofoptions="carclasses"
          vendor="drivenow">
        </car-class-form>

        <option-form
          vendor="drivenow"
          type="airport"
          title="airports">
        </option-form>

        <option-form
          vendor="drivenow"
          type="drivecitytocity"
          title="specialDestinations">
        </option-form>

      </div>
    </div>

    <div class="col-md-6 columns">
      <price-Box></price-Box>
    </div>

  </div>
