<div class="drivenow">
  <nav-Bar></nav-Bar>
  <div class="row">

    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>
      <div class="highlight">

        <div class="form-group">
          Fahrzeugklasse:
          <form>
            <input type="radio"
                   ng-model="rental.drivenow.carClass"
                   value="mini"
                   id="carClassMini">
            <span tariff-popover="views/popovers/drivenow/carClassMini.html">
              Mini
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.drivenow.carClass"
                   value="bmw"
                   id="carClassBmw">
            <span tariff-popover="views/popovers/drivenow/carClassBMW.html">
              BMW
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.drivenow.carClass"
                   value="minicabriosummer"
                   id="carClassMiniCabrioSummer">
            <span tariff-popover="views/popovers/drivenow/carClassMiniCabrioSummer.html">
              Mini Cabrio Sommer
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.drivenow.carClass"
                   value="minicabriowinter"
                   id="carClassMiniCabrioWinter">
            <span tariff-popover="views/popovers/drivenow/carClassMiniCabrioWinter.html">
              Mini Cabrio Winter
            </span>
            <br/>
          </form>
        </div>

        <div class="form-group">
          Flughäfen:
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.berlintegel">
                <span tariff-popover="views/popovers/drivenow/airport.berlintegel.html">
                  Flughafen Berlin-Tegel
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.berlinschoenefeld">
                <span tariff-popover="views/popovers/drivenow/airport.berlinschoenefeld.html">
                  Flughafen Berlin-Schönefeld
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.hamburg">
                <span tariff-popover="views/popovers/drivenow/airport.hamburg.html">
                  Flughafen Hamburg
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.muenchen">
                <span tariff-popover="views/popovers/drivenow/airport.muenchen.html">
                  Flughafen München
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.cologne">
                <span tariff-popover="views/popovers/drivenow/airport.cologne.html">
                  Flughafen Köln
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.duesseldorf">
                <span tariff-popover="views/popovers/drivenow/airport.duesseldorf.html">
                  Flughafen Düsseldorf
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.aiport.wien">
                <span tariff-popover="views/popovers/drivenow/airport.wien.html">
                  Flughafen Wien
                </span>
              </label>
            </div>
          </div>

          Sonderziele:
          <div class="input-group">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.drivecitytocity.duesseldorfcologne">
                <span tariff-popover="views/popovers/drivenow/drivecitytocity.duesseldorfcologne.html">
                  Fahrt von Düsseldorf nach Köln
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.drivecitytocity.cologneduesseldorf">
                <span tariff-popover="views/popovers/drivenow/drivecitytocity.cologneduesseldorf.html">
                  Fahrt von Köln nach Düsseldorf
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.drivecitytocity.hildengerresheim">
                <span tariff-popover="views/popovers/drivenow/drivecitytocity.hildengerresheim.html">
                  Fahrt von Hilden / Gerresheim
                </span>
              </label>
              <br/>
              <label>
                <input type="checkbox"
                       ng-model="rental.drivenow.drivecitytocity.neubibergbavariafilmstadt">
                <span tariff-popover="views/popovers/drivenow/drivecitytocity.neubibergbavariafilmstadt.html">
                  Fahrt von Neubiberg / Bavaria Filmstadt
                </span>
              </label>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="col-md-6">
      <price-Box></price-Box>
    </div>

  </div>
