<div class="flinkster">
  <nav-Bar></nav-Bar>
  <div class="row">
    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>

      <div class="highlight">

        <div class="form-group">
          {{"tariff" | translate }}:
          <form>
            <input type="radio"
                   ng-model="rental.flinkster.tariff"
                   value="bundesweit"
                   id="tariffbundesweit">
            <span tariff-popover="popover.flinkster.tariff.bundesweit">
              Bundesweit
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.flinkster.tariff"
                   value="lokal"
                   id="tarifflokal">
            <span tariff-popover="popover.flinkster.tariff.lokal">
              Lokal
            </span>
            <br/>
          </form>
        </div>

        <div class="form-group">
          {{"carClass" | translate }}:
          <form>
            <input type="radio"
                   ng-model="rental.flinkster.carClass"
                   value="sonder"
                   id="ratesonder">
            <span tariff-popover="popover.flinkster.carClass.Sonder">
              Sonder
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.flinkster.carClass"
                   value="mini"
                   id="ratemini">
            <span tariff-popover="popover.flinkster.carClass.Mini">
              Mini
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.flinkster.carClass"
                   value="klein"
                   id="rateklein">
            <span tariff-popover="popover.flinkster.carClass.Klein">
              Klein
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.flinkster.carClass"
                   value="kompakt"
                   id="ratekompakt">
            <span tariff-popover="popover.flinkster.carClass.Kompakt">
              Kompakt
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.flinkster.carClass"
                   value="mittel"
                   id="ratemittel">
            <span tariff-popover="popover.flinkster.carClass.Mittel">
              Mittel
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.flinkster.carClass"
                   value="transporter"
                   id="ratetransporter">
            <span tariff-popover="popover.flinkster.carClass.Transporter">
              Transporter
            </span>
            <br/>
          </form>
        </div>

        <div class="form-group">
          <div class="input-group" ng-if="isAirport()">
            <div class="checkbox">
              <label>
                <input type="checkbox"
                       ng-model="rental.flinkster.airport">
                <span tariff-popover="popover.flinkster.airport">
                  {{"airportFee" | translate }}
                </span>
              </label>
            </div>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-6">
      <price-Box></price-Box>
    </div>
  </div>
</div>

