<div class="greenwheels">
  <nav-Bar></nav-Bar>
  <div class="row">
    <div class="col-md-6">
      <time-Input-Form></time-Input-Form>

      <div class="highlight">

        <tarif-form
          listofoptions="tariffs"
          vendor="greenwheels">
        </tarif-form>

        <div class="form-group">
          {{"carclass" | translate }}:
          <form>
            <input type="radio"
                   ng-model="rental.greenwheels.carclass"
                   value="compact"
                   id="ratecompact">
            <span tariff-popover="popover.greenwheels.carclass.compact">
                Compact
            </span>
            <br/>
            <input type="radio"
                   ng-model="rental.greenwheels.carclass"
                   value="van"
                   id="ratevan">
            <span tariff-popover="popover.greenwheels.carclass.van">
                Van / Lieferwagen
            </span>
            <br/>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <price-Box></price-Box>
    </div>
  </div>
</div>
