<div class="sm">
  <nav-Bar></nav-Bar>
  <div class="row">

  <div class="col-md-6">
    <time-Input-Form></time-Input-Form>
    <div class="highlight">

      <div class="form-group">
        Tarif:
        <form>
          <input type="radio"
                 ng-model="rate.tariff"
                 value="classic"
                 id="tariffclassic">
          <span tariff-popover="text">Classic</span><br/>
          <input type="radio"
                 ng-model="rate.tariff"
                 value="basic"
                 id="tariffbasic">
          <span tariff-popover="text">Basic</span><br/>
          <input type="radio"
                 ng-model="rate.tariff"
                 value="studi"
                 id="tariffstudi">
          <span tariff-popover="text">Studi</span><br/>
          <input type="radio"
                 ng-model="rate.tariff"
                 value="business"
                 id="tariffbusiness">
          <span tariff-popover="text">Business</span><br/>
        </form>
      </div>

      <div class="form-group">
        Fahrzeugklasse:
        <form>
          <input type="radio"
                 ng-model="rate.carClass"
                 value="A"
                 id="rateA">
          <span tariff-popover="{{info.carClass.rateA}}">
            A Kleinstwagen
          </span><br/>
          <input type="radio"
                 ng-model="rate.carClass"
                 value="B"
                 id="rateB">
          <span tariff-popover="{{info.carClass.rateB}}">
            B Kleinwagen
          </span><br/>
          <input type="radio"
                 ng-model="rate.carClass"
                 value="C"
                 id="rateC">
          <span tariff-popover="{{info.carClass.rateC}}">
            C Kombi/Fun
          </span><br/>
          <input type="radio"
                 ng-model="rate.carClass"
                 value="D"
                 id="rateD">
          <span tariff-popover="{{info.carClass.rateD}}">
            D Komfort/Kleinbus
          </span><br/>
          <input type="radio"
                 ng-model="rate.carClass"
                 value="F"
                 id="rateF">
          <span tariff-popover="{{info.carClass.rateF}}">
            F Transporter
          </span><br/>
        </form>
      </div>

    </div>
  </div>

  <div class="col-md-6">
    <price-Box></price-Box>
  </div>

</div>
