<time-Input-Form></time-Input-Form>

<div class="highlight">
	<div class="form-group">
		<div class="input-group">
			Fahrzeugklasse:
			<form>
				<input type="radio" ng-model="rate.carClass" value="A" id="rateA">A Kleinstwagen<br/>
				<input type="radio" ng-model="rate.carClass" value="B" id="rateB">B Kleinwagen<br/>
				<input type="radio" ng-model="rate.carClass" value="C" id="rateC">C Kombi/Fun<br/>
				<input type="radio" ng-model="rate.carClass" value="D" id="rateD">D Komfort/Kleinbus<br/>
				<input type="radio" ng-model="rate.carClass" value="F" id="rateF">F Transporter<br/>
			</form>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			Tarif:
			<form>
				<input type="radio" ng-model="rate.tariff" value="classic" id="tariffclassic">Classic<br/>
				<input type="radio" ng-model="rate.tariff" value="basic" id="tariffbasic">Basic<br/>
				<input type="radio" ng-model="rate.tariff" value="studi" id="tariffstudi">Studi<br/>
				<input type="radio" ng-model="rate.tariff" value="business" id="tariffbusiness">Business<br/>
			</form>
		</div>
	</div>
</div>

<price-Box></price-Box>

<billed-Box></billed-Box>
