<div class="stadtmobil">
  <nav-Bar></nav-Bar>
  <div class="row">

    <div class="col-md-6 columns">
      <time-Input-Form></time-Input-Form>
      <div class="highlight">

        <tarif-form
          listofoptions="tariffs"
          vendor="stadtmobil">
        </tarif-form>

        <car-class-form
          listofoptions="carclasses"
          vendor="stadtmobil">
        </car-class-form>

      </div>
    </div>

    <div class="col-md-6 columns">
      <price-Box></price-Box>
    </div>

  </div>
</div>
