<div class="highlight">
  <ul class="nav nav-tabs">
    <li ng-class="{ active:isSet('simple') }">
    <a href ng-click="setTab('simple')">{{"simple_" | translate }}</a>
    </li>
    <li ng-class="{ active:isSet('exact') }">
      <a href ng-click="setTab('exact')">{{"exact_" | translate }}</a>
    </li>
  </ul>

  <div ng-if="isSet('simple')">
    <h4 translate="time"></h4>
    <div class="form-group" ng-if="isResolution('minutes')">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Minuten" ng-model="rental.timeMinutes">
        <span class="input-group-addon">{{"minute" | translate }}</span>
      </div>
    </div>

    <div class="form-group" ng-if="isResolution('hours')">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Stunden" ng-model="rental.timeHours">
        <span class="input-group-addon">{{"hour" | translate }}</span>
      </div>
    </div>

    <div class="form-group" ng-if="isResolution('days')">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Tage" ng-model="rental.timeDays">
        <span class="input-group-addon">{{"day" | translate }}</span>
      </div>
    </div>

    <div class="form-group" ng-if="isResolution('weeks')">
      <div class="input-group">
        <input type="number" class="form-control" placeholder="Wochen" ng-model="rental.timeWeeks">
        <span class="input-group-addon">{{"week" | translate }}</span>
      </div>
    </div>

  </div>

  <div ng-if="isSet('exact')">
    <h4>{{"startDate" | translate }}</h4>
    <div class="dropdown">
      <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="" href="">
        <div class="input-group"><input type="text" class="form-control" data-ng-model="rental.startDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="rental.startDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown2', minView: 'hour' }"/>
      </ul>
    </div>

    <h4>{{"endDate" | translate }}</h4>
    <div class="dropdown">
      <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="" href="">
        <div class="input-group"><input type="text" class="form-control" data-ng-model="rental.endDate"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="rental.endDate" data-datetimepicker-config="{ dropdownSelector: '#dropdown3', minView: 'hour' }"/>
      </ul>
    </div>

  </div>

  <div class="form-group" ng-if="isResolution('minutesStanding')">
    <h5 ng-if="isSet('exact')">{{"timeStanding" | translate }}</h5>
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Minuten stehend" ng-model="rental.timeStanding">
      <span class="input-group-addon">{{"minuteStanding" | translate }}</span>
    </div>
  </div>

  <h4>{{"distance" | translate }}</h4>
  <div class="form-group">
    <div class="input-group">
      <input type="number" class="form-control" placeholder="Strecke" ng-model="rental.distance">
      <span class="input-group-addon">Km</span>
    </div>
  </div>

</div>
